<div class="container">

  <%= render "shared/card", locals: {
  title: "Mes wants",
  # total_price: @total_price,
  cards: @wants,
  side: "card-offer",
  view: "wants"}  %>

  <div>
    <%= link_to "Add card", new_user_want_path, class: 'btn btn-secondary' %>
  </div>
</div>
