<form class="simple_form new_trade" id="new_trade" action="<%= @path %>" method="post" name="sneackyValue">
  <input id="one" type="hidden" >
    <div class="form-group text optional offer">
      <textarea class="form-control text optional" name="trade[offer]" id="offer"></textarea>
    </div>
  <input id="two" type="hidden" >
    <div class="form-group text optional target">
      <textarea class="form-control text optional" name="trade[target]" id="target"></textarea>
    </div>
  <input type="submit" name="commit" value="Create Trade" class="btn btn-warning" data-disable-with="Create Trade">
</form>
