<div class="container">
  <h1>Pages#home</h1>

  <% if current_user %>

    <% @results_sorted.each do |result| %>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= result[:user].username %></h5>
        <p class="card-text">Nombre de matches : <%= result[:total] %></p>
        <%= link_to "Faire un trade", user_path(result[:user].id), class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>

  <% end %>
</div>
