<div class="container">
  <%= simple_form_for([current_user, @card], method: :patch) do |f| %>
  <%= f.input :condition, collection: ["neuf", "occasion"] %>
  <%= f.submit "Save card", class: "btn btn-success" %>
  <% end %>
 </div>
