<div class="container">

  <%= render "shared/card", locals: {
  title: "Ma collection",
  # total_price: @total_price,
  cards: @cards,
  side: "card-offer",
  view: "cards"}  %>

  <div>
    <%= link_to "Add card", new_user_card_path, class: 'btn btn-secondary' %>
  </div>
</div>
