.chat-header {
  background-color: black;
  color: white;
  padding: 20px;

}

h4 {
  font-weight: bold;
  font-size: 15px;

}

#messages {
  font-size: 14px;
  color: black;
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  border-top: none;
  border-bottom-width: 0;
  overflow: scroll;
  max-height: calc(70vh - 70px - 45px - 61px - 30px);
}

.author {
  display: flex;
  margin-bottom: 10px;
  font-weight: bold;

  &.right {
    flex-direction: row-reverse;
    .message-content {
      background-color: orange;
    }
  }
}

.message-content {
  background-color: skyblue;
  border-radius: 3px;
  margin: 0 10px;
  padding: 11px 10px 8px 10px;

}

#create-message {
  background-color: white;
  color: black;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ececec;
}

.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}


small {
  opacity: 0.6;
}

.card-messagerie {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-messagerie img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-messagerie h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-messagerie p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-messagerie .card-messagerie-infos {
  padding: 16px;
}
