<div class="row justify-content-between">
      <div class="col-5">
        <h2>MY COLLECTION</h2>
        <% @cards_trade.each do |card| %>
        <div class="card-offer card-product" data-id=<%= card.id%> >
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2><%= card.name %></h2>
          </div>
        </div>
        <% end  %>
      </div>


      <div class="col-5">
        <h2>ITS COLLECTION</h2>
        <% @other_cards_trade.each do |card| %>
        <div class="card-target card-product" data-id=<%= card.id%> >
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2><%= card.name %></h2>
          </div>
        </div>
        <% end %>
      </div>


    </div>
