<div class="row justify-content-between">

  <%= render "shared/card", locals: {title: "Ma collection", total_price: @total_price, cards: @cards}  %>
  <%= render "shared/card", locals: {title: "Sa collection", total_price: @other_total_price, cards: @other_cards}  %>

</div>
<%= link_to("Modifier Trade", edit_user_trade_path(@trade.user_id, @trade.id)) %>
<%= link_to("Accepter Trade", user_trade_path(@trade.user_id, @trade.id, accept: true), method: 'put') %>

